---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Mein Name ist Vadim Tscherni und ich freue mich, dich auf meiner Seite begrüßen zu dürfen. 
		Hier erhältst du einen kurzen Überblick über meinen beruflichen Werdegang, meine Erfahrungen 	
		und Qualifikationen.
	</p>

	<h3>
		Berufserfahrung
	</h3>

	<p>

	</p>

	<h5>
		als Systemtechniker (angestellt bei PKE Deutschland GmbH)
	</h5>

	<p>
		• Entwicklung und Umsetzung von Automationslösungen im Bereich Gebäude- und Raumautomation

		• Expertise in Protokollen wie BACnet, Modbus, MBus, KNX und SCADA-Systemen

		• Programmierung und Konfiguration von Automationsstationen und Netzwerkinfrastrukturen

		• Erstellung von Skripten und GUI-basierten Tools zur Prozessoptimierung mit Python
	</p>

	<h5>
		als Elektrofachkraft
	</h5>

	<p>
		• Planung und Errichtung elektrotechnischer Anlagen nach DIN VDE

		• Durchführung und Dokumentation elektrotechnischer Prüfungen und Wartungen
	</p>

	<p>

	</p>

	<h3>
		Software Kenntnisse
	</h3>

	<p>
		• Programmierung: Python (insbesondere GUI-Entwicklung), SQL-Datenbanken,
		  OPEN.FXL (DEOS.AG)

		• CAD-Software: sPlan, TinyCAD, Fusion360 (Autodesk), Eagle (Autodesk)

		• Bildbearbeitung: Photoshop (Anfänger)

		• Office Anwendungen: Microsoft 365
	</p>

	<h3>
		Qualifikationen
	</h3>

	<p>
		• ausgebildeter Elektroniker für Energie- und Gebäudetechnik (bei NRS)

		• Fortbildungen im Bereich Gebäude- und Raumautomation (HLK bei Siemens)

		• SCADA-Systeme (DEOS.AG)

		• Protokolle: BACnet, Modbus, MBus (DEOS.AG)
	</p>
</Layout>
